.content {
  display: none;
}

.pageContainer {
  display: block;
  position: fixed;
  width: 80vw;
  left: 10vw;
  height: 100vh;
  top: 0;
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
}

img {
  max-height: 98vh;
  max-width: 80vw;
}

.loadingIndicator {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
